<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">


	<Identity
	   Name="AgentStatus-TaskbarTray"
	   Publisher="CN=marcelwagner"
	   Version="1.2.7.0" />

	<mp:PhoneIdentity PhoneProductId="22afb25e-8523-432b-a063-6722aef1743f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Agent Status - Taskbar Tray</DisplayName>
		<PublisherDisplayName>Marcel Wagner</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="AgentStatus.exe"
		  EntryPoint="Windows.FullTrustApplication">
			<uap:VisualElements
			  DisplayName="Agent Status - Taskbar Tray"
			  Description="Agent Status - Taskbar Tray"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<desktop:Extension Category="windows.startupTask" Executable="AgentStatus.exe" EntryPoint="Windows.FullTrustApplication">
					<desktop:StartupTask TaskId="AgentStatusStartupTask" Enabled="true" DisplayName="Agent Status - Taskbar Tray" />
				</desktop:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
